.red_box {
      background-color: #f70000;
      color: white;
      width: 50%;
      margin: 50px 10px 50px 10px;
      border-style: solid;
      border-top: 10px;
      border-right: 5px;
      border-bottom: 10px;
      border-left: 5px;
      border-color: black;
      padding: 20px;

    }

    #special_paragrph{
      background-color: blue;
      width: 50%

    }